*{
    padding: 0;
    margin: 0;
}

h1{
    color:orange;
    margin-left: 1vh;
}

body{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;    
    font-size: 3vh;
    background: repeating-linear-gradient(45deg, orange 0%, orange 25%, white 25%, white 50%, orange 50%, orange 75%, white 75%, white 100%); 
}
.molde{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 45vw;
    height: 42vw;
    flex-wrap: wrap;
    background: white;
    border-radius: 0.4vh;
    margin-left: 58vh;
    margin-top: 4vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.lblTexto{
    width: 15vw;
    height: 5vh;
    border:2px solid orange;
    border-radius: 0.9vh;
    margin-left: -0.5vh;
}

p{
    margin: 1vh;     
}
input{
    margin: 1vh;
}

input::placeholder{
    color:black;
    font-weight: bold;
}

.personales{
    font-size: 2.5vh;
}
